[user]
    email = iaso2h@outlook.com
    name = iaso2h
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only --features=interactive
[include]
    path = ~/.config/delta/themes.gitconfig
[delta]
    line-numbers = true
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[merge]
conflictstyle=diff3
tool=ultracompare

[diff]
colorMoved=default
tool=ultracompare
[http]
	sslbackend = schannel
[https]
    proxy = https://127.0.0.1:7890
[credential "https://gitee.com"]
	provider = generic
[mergetool "ultracompare"]
keepBackup=false
trustExitCode=false
prompt=false
cmd="\"D:\\Program Files\\UltraCompare\\uc.exe\" -gitm "$LOCAL" "$REMOTE" "$BASE" "$MERGED" -title1 "LOCAL" -title2 "REMOTE""
[UC]
defdiffmerge=yes
defdiff=yes
[difftool "ultracompare"]
keepBackup=false
trustExitCode=false
prompt=false
cmd="\"D:\\Program Files\\UltraCompare\\uc.exe\" -gitdt "$LOCAL" "$REMOTE" "$BASE" "$MERGED" -title1 "LOCAL" -title2 "REMOTE""
