;;���棬������ȷ��֪�����Լ�����ʲô������Ҫ�����޸�����ļ���
;;���ļ��Ĳ�ǡ����ʽ��ֵ���ܻ�����������ӡ����ı�����
[Batchplot]
;;ͼ����ʽ �����PLine ͼ��Block ֱ��Line
Frame = Block
;;�����ʽ ֱ�Ӵ�ӡPlot ��ӡ���ļ�PlotFile ͼֽ��ֹ鵵Wblock �������ɲ���Layout ��ӡ���в���PlotLayout
Output = PlotFile
;;��ӡ���� �Զ�ȡ��Auto ����ͼֽScaleToFit �������ֵ����100����ʾ1:100��50��ʾ1:50
PlotScale = ScaleToFit
;;��ӡ˳�� ѡ��˳��SelectOrder ��������LeftToRight ��������TopToBottom
PlotOrder = SelectOrder
;;��ӡ������1~99֮��������ǿ�ҽ���Ĭ��Ϊ1���˷�ֽ�ſɳ�
Copies = 1
;;�Ƿ���ݴ�ӡ ��0��1
Collate = 0
;;ƫ�Ʒ�ʽ��Center��x,y, ����5,5 ע����Ӣ������״̬�µġ�,���ָ�
Offset = Center
;;�Ƿ�ͬʱ��ӡģ�͡������е�ͼ��0��1
ModelLayouts = 0
;;�Ƿ�����ģ�Ϳռ�����ͱ�����0��1
MSLineScale = 1
;;�Ƿ��Զ���ת��0��1
AutoRotate = 1
;;�Ƿ���0��1
UpsideDown = 0
;;����0��1
ReverseOrder = 0
;;��ӡ���ǣ�0��1
PlotStamp = 0
;;�Զ�ƥ��ͼֽ��С��0��1
AutoPaper = 0
;;ʹ�õ��ĵ��ڲ���ӡ��ʽ��0��1
DocPlotStyle = 0
;;�Ƿ�ͬʱѡ��ͼ��ͬ��ͼ���ͬ��ͼ��0��1
AutoSelect = 1
;;Ĭ�����Ŀ¼,��Ĭ��Ϊdwg�ļ�����Ŀ¼������
OutputFolder = 
;;Ĭ������ļ���
NamePrefix = <DWGNAME>_<NUM:1:2>_<ATT:otto_plot_recognition_frame:ͼֽ����>
;;Ԥ������ļ���ģ�壬�����ö����ʹ��|���Ž��зָ�
NameTemplate = 
;;Ĭ��ͬ���ļ�������ʽ ���� OverWrite �Զ����˳�� AutoNum
SameName = OverWrite
;;ͼ��Ĭ��ͼ������Ϊ�ջ��߳���ͼ�����ƣ�����tk_*����ʹ��ͨ���*��
BlockName = otto_plot_recognition_frame
;;ͼ��Ĭ��ͼ������Ϊ�ջ��߳���ͼ����������*_title����ʹ��ͨ���*��
LayerName = xline
;;Ĭ�������Ƿ�����֣�0��1
HighLightMode = 1
;;Ĭ��ͼֽ��ֹ鵵��ʽ ֱ��д�� WriteBlock ����ͼֽ��Ϣ SaveInfo
WblockMode = WriteBlock
;;��ӡʱ�Ƿ񱣴��ӡ�������ݣ�0��1
SavePlotData = 1
;;ͼ��ͼ�����б���ע����Ӣ������״̬�µġ�,���ָ�
BlockFrameList = 
;;ͼ��ͼ������Ӧĳ�ִ�ӡ����ͼֽ�б�
PrintPaperList = 
;;��ӡ����Ԥ��
PageSetup = 
