<?xml version="1.0" encoding="utf-8"?>
<UserConfig Version="352530433" AutoReturnAtFinish="1" AutoReturnAtStop="1" AutoStartAfterCoverCut="0" MarkFlagIndex="0" MicroConnectSize="2" CheckRangeBeforeRun="0" TechParamsCheckFlag="0">
	<SeekCenterParam FIsDirectFollow="-1" FileThickness="2000" PipeLen="0" MtlType="0" FirstOpenfile="1" EnableWeightToDA="1" WeightDA="0" WeightAccCons="0" CckUseDefClampParams1="0" CckClampMode1="1" CckClamptorque1="1500" CckClampDirectSpd1="30" CckClampGradSpd1="5" CckClampGap1="5" CckLoosenSpd1="30" CckLoosenPos1="50" CckUseDefClampParams2="0" CckClampMode2="1" CckClamptorque2="1500" CckClampDirectSpd2="30" CckClampGradSpd2="5" CckClampGap2="5" CckLoosenSpd2="30" CckLoosenPos2="50" CckUseDefClampParams3="0" CckClampMode3="1" CckClamptorque3="1500" CckClampDirectSpd3="30" CckClampGradSpd3="5" CckClampGap3="5" CckLoosenSpd3="30" CckLoosenPos3="50"/>
	<Channels/>
</UserConfig>
