<?xml version="1.0" encoding="utf-8"?>
<CADConfig Version="117511169" DisableQuickCmd="0" LastHomeRefType="0" ShowMotionOrg="0" ShowSurface="1" ShowHandle="0" ShowBox="0" ShowGeometryInfo="0" ShowIndex="1" ShowPathStart="1" ShowPath="1" ShowMicro="0" SkinName="Dark" FormBottomRatio=".966367713" MergeTail="1" MergeAllTube="0" MerLength="800" MerTailLength="800" MerKeepChnp="1" MaxHistoryCount="20" ShowMulCrs="1" AutoFixedYAngle="45" UnitSystem="Metric" UpdatePipeTypeImg="5" ShowPrevire3DIn2DDlg="false" ShowNode="0" LabelShowType="1" ShowingLabelInfoType="2" MesConnect="false" ShowMovePath="0" ShowCrossSection="0" ShowNormal="0" ShowAxes="1" ShowChuck="1" HighlightUnClosed="0" EnhanceViewLeadLine="0" CirclePreference="0">
	<CustomeCrsSettings ChannelPort1="0" ChannelPort2="0" ChannelPort3="0" ChannelPort4="0" ChannelPort5="0" ChannelPort6="0" ChannelPort7="0" ChannelPort8="0" ChannelPort9="0" ChannelPort10="0" ChannelPort11="0" ChannelPort12="0" ChannelPort13="0" ChannelPort14="0" ChannelPort15="0" ChannelPort16="0"/>
	<Other RenderingMemoryOptimize="false" EnableCloudStep="false" EnableAutoTest="false" EnableBevelCuttingHead="false" AngleUnit="0" HAngle="1.57079633" UseHAngle="0" HCornerExtendLength="1" ThicknessConcerned="1" CheckCutHeadInterferenceOnSimu="1" CutHeadCheckFilter="1" EnableTrusses="0" NormalChannelPortCombindTol="5" NormalSmoothTol="6" WrapSampleTol=".01" FlatNormalCalcTol=".01" EnabledSteelStructure="0" ShowBRotation="0" ShowExportPath="0" SaveCloudOutIGS="0" CatchLength="500" SwingLen="300" FlangePathDir="0" edtCornerSmoothTol=".3" SmallestTubeRadius="5.32" ShowCutSurface="false" ShowBevelSolidGenerator="0"/>
	<FileExport ReserveSurfaces="1" AutoSaveAddress="" AutoSaveInterval="10" DoAutoSaveInterval="1" DoAutoBackup="true" AutoBackupInterval="600000" AutoBackupPath="D:\TubesTBackup" NormalAXCheck="1" ExportNormalWarning="1" MaxAAngle=".785398163" MinAAngle="-.785398163" AngleLimit="45" LAngleLimit="-45" RAngleLimit="45" LastExportFileExt=".zx" FixBRotateRange="0" MaxBRotateAngle="0" MinBRotateAngle="0" YXYSameDirZX="0" AutoSaveYXY="0" DoTechsSetBefortExport="0" ASInterval="10" LAngle="-45" RAngle="45" StartAS="true" ReserveSurface="true" CloudLibCache="C:\Users\OT03\AppData\Roaming\CloudCache" AddWebColliBeforeExport="true" MaxSafeAngle="0" MinSafeAngle="0" SaveSelectedPorts="0" AddOverAngleCheckBeforeAutoNest="true"/>
	<FileImport CutOffNearSize="1" CutOffNearCombine="0" EnableFirePipeImport="0" UseIGSInputFrm="0" UseRealLen="1" QRcodeFileAdd="" AutoMacthCustCrs="0" ShowCrsMatchPage="0" IsReadRenderSurface="1" IsImportHT="1" CloudLibEn="false" DefaultTemplateMatch="true" HBarRAngleSmooth="false" HRAngle="180" ShowPartLen="1500" RemoveHDupPath="1E-3" WrapSampleTol=".01" UseFileName="0">
		<AutoSmooth Enabled="1" Tolerance=".05" MinVertexCount="200" IgnoreBezier="1" DisableConvertCircle="0"/>
		<RemoveDuplication Enabled="1" Tolerance=".1"/>
		<RemoveTrivial Enabled="1" Tolerance=".1"/>
		<ConnectNear Enabled="1" SearchStyle="0" Tolerance=".1"/>
		<AutoSort Enabled="1" MaxCount="3000" Style="0" CheckUnclosedCurve="0" CheckUnclosedDistance="0"/>
		<IGES AutoCenter0="1" AutoProjAxis="0" CheckShell="1" EcoLength="2" EcoLeadOutLen="0" PartAnalyze="1" ProjAxis="2" SeparateSurfaces="0" SideInner="0" SideOuter="1" Groove="0" InlaidHole="1" UseTrivialTol="1" TrivialTol=".1" DirectionNum="-1" IGSAxis="-2" Gathering="0" LCContiCut="0" ValidMarkPort="0" MarkPort="10" SamePGathering="1" LaserMeltBevelPort="8" LaserRemoveSlagPort="9"/>
	</FileImport>
	<Tech IsRectWeld="1" RectWeldParamA="1" RectWeldStyle="0" ToolCompensationStyle="1" ToolCompensationSize="1" ToolCompensationTag="6" ToolCompensationJoinType="1" AutoCornerStop="0" AutoLeadInStop="0" AutoCurveStopMaxAngle="90" IsContainHighCutMsg="true" UseHighCutChannel="false" HighCutChannel="11"/>
	<Nest HRoot="0" CommonTol=".1" MinIslandCommonLength=".1" MergCrossTol="1" TempWeldCorner="0" UseTempWeldCorner="0" SaveNestParamToFile="1" PartGap="3" TubeGap="2" CommonFlags="133" DisableReverse="0" DisableRotate="0" LongestPrefPos="1" MinLongestLen="0" MaxLongestLen="350" LessMoney="1" ResetCircleRotation="0" TailPartLen="0" LongestPrefLevel="2" DoGroupNest="0" GroupNum="10" DoCircularNest="0" WeldPosMin="0" WeldPosMax=".35" MinLeftMatrial="600" HoleGap="30" LostRate=".02" ConnectType="0" ConnectLength="600" ShapeMargin="0" EnableVerticalComp="0" StraightCutType="-1" ConnectBevelType="0" ConnectBevelAngle="30" ConnectBevelRoot="2" SetConnectBevel="0" HasStraight="1" VBevelType="0" BevelChannel="4" StraightHCenterLenRatio="50" ZHCenterLenRatio="0" RootGap="0" TrapezoidBevel="0" FullCommonTol=".1" IslandTransTol=".1" IslandCommonTol=".1" IslandStartPosTol=".05" HighCutExtend="20" EdgeZConnectLength="300"/>
	<ALabel FontName="Tahoma" FontSize="12" RotateAngle="0" Width="100" Height="100"/>
	<Axis7 ChuckLength="300" TailLength="1000" Enabled="0" DoCheckLegal="0" EnableSort="0"/>
	<AutoMicroC MicroStyle="0" MicroCount="5" MicroGap="10" MicroSize="1" EnableMicroCutRatio="0" MicroCutRatio="50" MicroNoVer="1" SetSToMicro="1" MicroLead="1" ApplySet="2" SizeSet="3" Upper="999" Lower="0" ObjSet="1"/>
	<FlyScan AngleTolerance=".0523598776" ArrayStyle="1" InterceptTolerance="1" MaxConnectDistance="20" MaxScanLineLength="20" MinScanLineLength="1" CircleAutoChangeDirection="0" SegLength="200" FaceAsGroup="1" SliceAsGroup="0" ShortestMove="1" MaxRadius="5" KeepOrder="0" MaxCircleScanLineLength="50" XFirst="1"/>
	<Font ChannelPort="1" FontName="Tahoma" FontHeight="10" RotateAngle="0" ExplodeText="0" MarkPort="1"/>
	<IGSInputFrm UseTol="0" Tol="0" SaveFailureFile="1"/>
	<LeadParams LeadDistance="-2" ClosedOnly="0" ConnectCut="1" LeadInType="1" LeadInAngle="1.57079633" LeadInLength="3" LeadInRadius="1" LeadInBreak="0" LeadOutType="0" LeadOutAngle=".523598776" LeadOutLength="3" LeadOutRadius="1" SetSectionLead="0" SectionLeadAngle="0" SetHoleLead="1" ZMinOrZMax="0" LeadPosType="2" ApplyToCutOff="1" ApplyToCurve="1"/>
	<MicroConnect MicroConnectSize="1" MicroCutRatio="50" AutoChangeStart="1" MicroLead="0" EnableMicroCutRatio="0"/>
	<FMutlSelect IsSelCutoff="0" IsSelCurve="0" IsSelGksPnt="0" IsKeepLastSel="0" IsSelFromCutoff="0" DoNotUseItJustForSotre="0" DoNotUseItJustForSotre2="0" MaxLength="100" MinLength="1" RangeSelIndex="3"/>
	<PathCompensation Tolerance=".05" SmoothEnabled="0" SmoothTolerance=".01"/>
	<ShapeExport SmallCircleDiameter="10" SmallCircleSampleTol="5E-3"/>
	<StartPos CutoffType="1" CutOffStyle="1" Cutoff1Angle="0" CutoffAvdCor="1" CutoffAvdVer="1" CurveStyle="1" CurveAvdCor="1" CurveAvdVer="1" EffectRange="0" ChangeCutoff="1" ChangeCurve="1" EqualTol=".1"/>
	<Sorting AreaGroupRate="4" ChangeFillOnSort="1" EnableReverseDir="1" MoveFarRate="1.5" MoveMaxCount="6" MoveItrCount="6" SegSortStyle="3" SegsSortStyle="0" SortFaceLen="1000" SortPropertyExt="0" OptimizeBRotate="1" IsApplyToNestResults="0" UseLastEndPoint="0" SortStrategy="0" YIncrease="1" CanChangeStartPoint="1" ManualSortSetStart="0" HSteelWebPathFirst="0" SlagSplashLen="150" CanYBackLen="1000" ShapeStackDis="150"/>
	<Trusses AutoSetWeld="1" AutoAvgNormal="0" AvgNormalRate=".3"/>
	<TubeCheck ShowWarning="1" CheckCurveInChuck="1" CheckCurveCrash="1" CheckEmptyCut="1" DistoChuck="150" EnableAutoSet="0" AutoCheckAfterNest="0" AutoCheckBeforeExport="0" MinEmptyCutLen=".1"/>
	<HNormalOptimize CutHeadTol="1" FollowHeight="1" DoAutoTech="0" AutoChannelPort="2" HBarNodeTol="10"/>
	<SetHYBevelPath/>
	<HSample/>
	<CutOffComp MinCornerAngle="30" MinTurnAngle="180" MinDetAngle="180" MinHWRatio="2" MaxDetHRatio=".5" AllowModify="0"/>
	<NotchCheck NotchClose="1" NotchEndLen="20" ApplyRangeCurDis="0" AppRangCurDisType="0" ApplyRangeParts="0" AppRangPartsType="0" ApplyRangeNests="0" AppRangNestsType="0"/>
	<ClearHighCutLabel ApplyRangeCurDis="0" AppRangCurDisType="0" ApplyRangeParts="0" AppRangPartsType="0" ApplyRangeNests="0" AppRangNestsType="0"/>
	<CADLabelSettingsManager Version="1">
		<CADLabelSettingsList>
			<TCADLabelSettings_Sec Enabled="true"/>
			<TCADLabelSettings_Groove Enabled="false" AngleListCount="2" Angle0=".261799388" Angle1=".523598776"/>
			<TCADLabelSettings_CutDeep Enabled="false"/>
			<TCADLabelSettings_CutMode Enabled="true"/>
			<TCADLabelSettings_CutType Enabled="true"/>
		</CADLabelSettingsList>
		<GroupManager_SecH>
			<0 NoteName="腹中" ChannelPort="1" FeatureStr="腹板中段">
				<InfoGroup 0="0" 1="2" 2="0" 3="0" 4="0" 5="0"/>
			</0>
			<1 NoteName="R角" ChannelPort="2" FeatureStr="R角附近">
				<InfoGroup 0="0" 1="3" 2="0" 3="0" 4="0" 5="0"/>
			</1>
			<2 NoteName="腹板定高" ChannelPort="3" FeatureStr="腹板定高">
				<InfoGroup 0="0" 1="0" 2="0" 3="0" 4="1" 5="0"/>
			</2>
			<3 NoteName="翼边" ChannelPort="4" FeatureStr="翼板边缘">
				<InfoGroup 0="0" 1="4" 2="0" 3="0" 4="0" 5="0"/>
			</3>
			<4 NoteName="翼中" ChannelPort="5" FeatureStr="翼板中段">
				<InfoGroup 0="0" 1="5" 2="0" 3="0" 4="0" 5="0"/>
			</4>
		</GroupManager_SecH>
		<GroupManager_SecOther>
			<0 NoteName="" ChannelPort="1" FeatureStr="普通面">
				<InfoGroup 0="0" 1="1" 2="0" 3="0" 4="0" 5="0"/>
			</0>
		</GroupManager_SecOther>
	</CADLabelSettingsManager>
	<SampleConfig/>
</CADConfig>
