<?xml version="1.0" encoding="utf-8"?>
<AppConfiguration EnableLead="0" EnableToolCompensation="0" EnableWeld="1" EnableAutoCurveStop="0" PipeIntersect="0" EnableAutoStr="1" EnableAutoMicro="0" EnableAutoReplaceText="0" EnableAutoHText="0" EnableAdaptiveCuttingPath="0" EnableSmoothNormal="0" EnableModifyHSteelFlangeCut="0" EnableHNormalOptimize="1">
	<AutoFlyScan FlyscanEna="0" LineScan="0" CirScan="0" LineParam="2" CirParam="2">
		<AutoFlyScanLine AngleTolerance=".0523598776" ArrayStyle="0" InterceptTolerance="1" MaxConnectDistance="20" MaxScanLineLength="20" MinScanLineLength="1" CircleAutoChangeDirection="0" SegLength="200" FaceAsGroup="1" SliceAsGroup="0" ShortestMove="1" MaxRadius="5" KeepOrder="0"/>
		<AutoFlyScanCir MaxCircleScanLineLength="50" AngleTolerance=".0523598776" ArrayStyle="0" InterceptTolerance="1" MaxConnectDistance="20" MaxScanLineLength="20" MinScanLineLength="1" CircleAutoChangeDirection="0" SegLength="200" FaceAsGroup="1" SliceAsGroup="0" ShortestMove="1" MaxRadius="5" KeepOrder="0"/>
	</AutoFlyScan>
	<LeadParams LeadDistance="-2" ClosedOnly="0" ConnectCut="0" LeadInType="1" LeadInAngle="1.57079633" LeadInLength="3" LeadInRadius="1" LeadInBreak="0" LeadOutType="0" LeadOutAngle=".523598776" LeadOutLength="3" LeadOutRadius="1" SetSectionLead="0" SectionLeadAngle="0" SetHoleLead="0" ZMinOrZMax="0" LeadPosType="2" ApplyToCutOff="1" ApplyToCurve="1"/>
	<Tech IsRectWeld="0" RectWeldParamA="1" RectWeldStyle="0" ToolCompensationStyle="1" ToolCompensationSize="1" ToolCompensationTag="6" ToolCompensationJoinType="3" AutoCornerStop="0" AutoLeadInStop="0" AutoCurveStopMaxAngle="90"/>
	<StartPos CutoffType="1" CutOffStyle="1" Cutoff1Angle="0" CutoffAvdCor="1" CutoffAvdVer="1" CurveStyle="292" CurveAvdCor="1" CurveAvdVer="1" EffectRange="0" ChangeCutoff="1" ChangeCurve="1" EqualTol=".1"/>
	<AutoMicroC MicroStyle="0" MicroCount="5" MicroGap="10" MicroSize="1" EnableMicroCutRatio="0" MicroCutRatio="50" MicroNoVer="1" SetSToMicro="1" MicroLead="1" ApplySet="2" SizeSet="3" Upper="999" Lower="0" ObjSet="1"/>
	<AutoReplaceText ReplaceTextMethod="0" LeftGap="200" BoundBoxMin=".1" BoundBoxMax="1" PivotPos="0" TextContentMethod="0" TextDivider="#" TextColumn="1" TextChannelPort="1" TextFontName="仿宋" TextFontHeight="10" TextRotateAngle="0" ExplodeText="0" IsFlangeOrPlate="0" FlangePosType="0" UseMarkPort="1"/>
	<SmoothNormal MaxAngle="30"/>
	<AdaptiveCuttingPath UseBackMinRoot="0" UpdateWithNormal="0" ImprovePlan="0" BackMinRootZ="0" FrontMinRootZ="8" HoleY="0" PathChannel="2" SelectByPart="0" SelectByNestedTube="0" SelectByCurrent="0" CurrentSelect="0" PartSelect="0" NestedTubeSelect="0" GrooveMark="1" MarkChannel="2" HighCut="0"/>
	<ModifyHSteelFlange ApplyToAllOrSelected="1" ModifyHSteelCutMethod="1" ModifyHCrossMethod="0" ModifyDistance="2" EffectRange="2" BiasAngle="15"/>
</AppConfiguration>
