<?xml version="1.0" encoding="utf-8"?>
<GCSConfig Version="0">
	<View HideRelCst="0" Structline="1" Axis="0" Grid="1" ViewDir="0">
		<RelCst Merge="1" Fix="1" Horizontal="1" Vertical="1" Parallel="1" Perpendicular="1" Tangent="1" Equal="1" AngleEqual="1" PointOnObj="1" MidPoint="1" Collinear="1" MidNormal="1"/>
		<SizeCst AllSizes="1"/>
		<UserHabit NewPoint="0" NewLine="0" NewCircle="0" NewArc="0" SmartSize="0" RoundCorner="0" Trim="0"/>
	</View>
	<Dxf AutoAddCst="1" PointMergeDecimal="2"/>
	<Snap Snap="1" AutoRel="1" HorVer45="1" Parallel="1" Perpendicular="1" Tangent="1" PtOnObj="1" Equal="1"/>
	<Test BatchTestPath=""/>
</GCSConfig>
